[Unit]
Description=Gitea to OBS bridge
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=obs-gitea-bridge
Group=users
Restart=always
#RuntimeMaxSec=21600
WorkingDirectory=/usr/share/obs-gitea-bridge
ExecStart=/usr/share/obs-gitea-bridge/gitea_obs_bridge

[Install]
WantedBy=multi-user.target

